<nav class="shadow-lg pt-0 sticky-top w-full top-0 bg-white/70">
    <div class="d-flex align-items-center justify-content-start gap-5 px-4 py-3 max-w-screen-2xl mx-auto">
        <h1 class="m-0 h4 fw-bold text-dark"><a class="text-primary focus-ring rounded-2 text-decoration-none" href="">Automarket</a></h1> <!--TODO: Rajouter le lien vers la page-->
        <ul class="d-flex align-items-center gap-4 m-0 list-unstyled">
            <li class="nav-item"><a class="link-primary focus-ring rounded-2 text-decoration-none" href="">Annonces</a></li> <!--TODO: Rajouter le lien vers la page-->
            <li class="nav-item"><a class="link-primary focus-ring rounded-2 text-decoration-none" href="">Vendre Ma Voiture</a></li> <!--TODO: Rajouter le lien vers la page-->
        </ul>
        <ul class="d-flex align-items-center gap-4 m-0 ms-auto list-unstyled">
            <li class="nav-item "><a class="link-primary focus-ring rounded-2 text-decoration-none" href="">Se connecter</a></li> <!--TODO: Rajouter le lien vers la page-->
            <li class="nav-item "><a class="link-primary focus-ring rounded-2 text-decoration-none" href="">S'inscrire</a></li> <!--TODO: Rajouter le lien vers la page--> 
        </ul>
    </div>
</nav>
