<footer class="py-2 px-5 text-white bg-primary z-2 border-top border-white border-opacity-25">
        <div class="py-5 d-flex flex-row gap-5 text-white text-opacity-50">
            <div class=""> <!-- 1ere colonne -->
                <a routerLink="/" class="inline-block pb-5 text-white text-decoration-none">
                    <h2 class="text-white pb-3">AutoMarket</h2>
                </a>
                <p class="text-white/70">
                    L'expérience du Showroom Digital. Redéfinir la façon dont les passionnés achètent et vendent
                    des chefs-d'œuvres automobiles avec intégrité éditoriale
                </p>
            </div>

            <!-- 2eme colonne - Ecosystème -->
            <div class="text-[15px] text-white text-opacity-50">
                <ul class="list-unstyled">
                    <li class="pb-3">
                        <h3 class="text-[15px] font-bold text-secondary">ÉCOSYSTÈME</h3>
                    </li>
                    <li class="pb-3 "><a routerLink="" class="text-decoration-none link-light link-opacity-50 link-opacity-100-hover">Annonces</a></li> <!--TODO : Implémenter le href-->
                    <li class="pb-3"><a routerLink="" class="text-decoration-none link-light link-opacity-50 link-opacity-100-hover">Vendre ma voiture</a></li> <!--TODO : Implémenter le href-->
                </ul>
            </div>

            <!-- 3eme colonne - Entreprise -->
            <div class="text-[15px] text-white/70"> 
                <ul class="list-unstyled">
                    <li class="pb-3">
                        <h3 class="text-[15px] font-bold text-secondary">ENTREPRISE</h3>
                    </li>
                    <li class="pb-3">
                        <a routerLink="" class="text-decoration-none link-light link-opacity-50 link-opacity-100-hover">Politique de confidentialité</a> <!--TODO : Implémenter le lien-->
                    </li>
                    <li class="pb-3">
                        <a routerLink="" class="text-decoration-none link-light link-opacity-50 link-opacity-100-hover">Conditions d'utilisations</a> <!--TODO : Implémenter le lien-->
                    </li>
                    <li class="pb-3">
                        <a routerLink="" class="text-decoration-none link-light link-opacity-50 link-opacity-100-hover">Politique de Cookies</a> <!--TODO : Implémenter le lien-->
                    </li>
                    <li class="pb-3">
                        <a routerLink="" class="text-decoration-none link-light link-opacity-50 link-opacity-100-hover">Contactez-nous</a> <!--TODO : Implémenter le lien-->
                    </li>
                </ul>
            </div>
            
            <!-- 4eme colonne - Rejoindre le club -->
            <div class="flex-1 text-[15px] text-white/70">
                <ul class="list-unstyled">
                    <li class="pb-3">
                        <h3 class="text-[15px] font-bold text-secondary">REJOINDRE LE CLUB</h3>
                    </li>
                    <li class="pb-3">
                        <p>Recevez le briefing éditorial hebdomadaire sur les tendances du marché et un
                        accès anticipé exclusif aux annonces rares</p>
                    </li>
                    <li class="pb-3">
                        <form class="flex gap-3"> <!-- Implémenter le formulaire d'inscription à la newsletter -->
                            <div class="input-group">
                                <input type="email" 
                                class="form-control bg-white bg-opacity-50 border-white border-opacity-10 text-white placeholder-white-50 shadow-none py-3 px-4" 
                                placeholder="Adresse email" 
                                aria-label="Adresse email"
                                style="border-top-left-radius: 12px; border-bottom-left-radius: 12px;"/>
                
                                <button class="btn btn-secondary px-4 fw-bold text-dark d-flex align-items-center justify-content-center transition-all" 
                                        type="submit"
                                        style="border-top-right-radius: 12px; border-bottom-right-radius: 12px;">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8"/>
                                </svg>
                                </button>
                            </div>
                        </form>
                    </li>
                </ul>
            </div>
        </div>

        <!-- Dernière ligne -->
        <div class="border-top border-white border-opacity-10 pt-3 mt-3">
            <div class="d-flex flex-row gap-5 justify-content-between list-unstyled w-100">
                <div class="text-white text-opacity-50">
                    © 2026 AUTOMARKET. Tous droits réservés
                </div>
                <ul class="d-flex flex-row list-unstyled gap-5">
                    <li class="">
                        <a href="https://www.instagram.com" class="text-decoration-none link-light link-opacity-50 link-opacity-100-hover">INSTAGRAM</a>
                    </li>
                    <li class="">
                        <a href="https://www.x.com" class="text-decoration-none link-light link-opacity-50 link-opacity-100-hover">X | TWITTER</a>
                    </li>
                    <li class="">
                        <a href="https://www.linkedin.com" class="text-decoration-none link-light link-opacity-50 link-opacity-100-hover">LINKEDIN</a>
                    </li>
                </ul>
            </div>
        </div>
</footer>